// Fonts

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI" ,Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;

// Colors



// Base

$font-family-base: $font-family-sans-serif !default;
$font-size-root: 16px !default;
$line-height-base: 1.5 !default;
$color-base: #333 !default;
$background-color-base: #fff !default;
// $em-base: 16px !default;
$selection: #b3d4fc;

// Body

$font-size-body: 100% !default;

// Links

$link-color: #0275d8 !default;
$link-color-active: #014c8c !default;
$link-decor: none;
$link-decor-active: underline !default;

// Z-index master list

$z-xxs: -1 !default;
$z-zero: 0 !default;
$z-xs: 1 !default;
$z-sm: 2 !default;
$z-md: 3 !default;
$z-lg: 4 !default;
$z-xl: 5 !default;

// media

// $xs-width: 599px !default;
$sm-width: 600px !default;
$md-width: 900px !default;
$lg-width: 1200px !default;


// bs3 media

// $xs-width: 767px !default;
// $sm-width: 768px !default;
// $md-width: 992px !default;
// $lg-width: 1200px !default;

// container

$padding-right: 15px;
$padding-left: 15px;
$cont-width: 1200px;



$hr-color: #eee !default;
$placeholder-color: #333 !default;
// Components
// button

// $btn-hover:  !default;
