
/* wrapper */

.wrapper {
    overflow: hidden;
}

/* container */

.container {
    position: relative;
    @include margin-a();
    padding-left: $padding-left;
    padding-right: $padding-right;
    min-width: $cont-min-width;
    max-width: $cont-max-width;
    @include clearfix();
}
