
/* wrapper */

.wrapper {
    overflow: hidden;
}

/* container */

.container {
    margin: 0 auto;
    padding-left: $padding-left;
    padding-right: $padding-right;
    max-width: $cont-width;
}

