/* GRID */

// @include nest-grid('.class-name');

@mixin nest-grid($nest-grid) {
   > #{$nest-grid} {
        clear: none;
        float: left;
        margin: 0 !important;
    }
}

// .class-name {
//     @include clearfix();
//     @include col-sm-md(2, true);
//     @include col-md(3);
// }

@mixin col-sm ($col, $start: true) {
    @media (min-width: #{$sm-width}) {
        &__item {
            @if $start == true {
                float: left;
                min-height: 1px;
            }
            width: 100%/$col;
        }
        &__item:nth-child(#{$col}n+1) {
            clear: left;
        }
    }
}
@mixin col-md ($col, $start: false) {
  @media (min-width: #{$md-width}) {
    &__item {
        @if $start == true {
            float: left;
            min-height: 1px;
        }
        width: 100%/$col;
    }
    &__item:nth-child(#{$col}n+1) {
        clear: left;
    }
  }
}
@mixin col-lg ($col, $start: false) {
  @media (min-width: #{$lg-width}) {
    &__item {
        @if $start == true {
            float: left;
            min-height: 1px;
        }
        width: 100%/$col;
    }
    &__item:nth-child(#{$col}n+1) {
        clear: left;
    }
  }
}
@mixin col-sm-md ($col, $start: false) {
  @media (min-width: #{$sm-width}) and (max-width: #{$md-width - 1px}) {
    &__item {
        @if $start == true {
            float: left;
            min-height: 1px;
        }
        width: 100%/$col;
    }
    &__item:nth-child(#{$col}n+1) {
        clear: left;
    }
  }
}
@mixin col-sm-lg ($col, $start: false) {
  @media (min-width: #{$sm-width}) and (max-width: #{$lg-width - 1px}) {
    &__item {
        @if $start == true {
            float: left;
            min-height: 1px;
        }
        width: 100%/$col;
    }
    &__item:nth-child(#{$col}n+1) {
        clear: left;
    }
  }
}
@mixin col-md-lg ($col, $start: false) {
  @media (min-width: #{$md-width}) and (max-width: #{$lg-width - 1px}) {
    &__item {
        @if $start == true {
            float: left;
            min-height: 1px;
        }
        width: 100%/$col;
    }
    &__item:nth-child(#{$col}n+1) {
        clear: left;
    }
  }
}

