/* GRID */

// .class-name {
//     @include clearfix();
//     @include col-sm(2, false, true);
// }
@mixin col ($col: false, $gatter: false, $start: false) {
    @if $gatter !=false {
        margin-right: -#{$gatter}px;
        margin-left: -#{$gatter}px;
    }
    &__item {
        @if $start !=false {
            float: left;
            min-height: 1px;
        }
        @if $gatter !=false {
            padding-right: #{$gatter}px;
            padding-left: #{$gatter}px;
        }
        @if $col !=false {
            width: 100%/$col;
        }
    }
    @if $col !=false {
        &__item:nth-child(#{$col}n+1) {
            clear: left;
        }
    }
}
@mixin col-sm ($col: false, $gatter: false, $start: false) {
    @media (min-width: #{$sm-width}) {
        @if $gatter !=false {
            margin-right: -#{$gatter}px;
            margin-left: -#{$gatter}px;
        }
        &__item {
            @if $start !=false {
                float: left;
                min-height: 1px;
            }
            @if $gatter !=false {
                padding-right: #{$gatter}px;
                padding-left: #{$gatter}px;
            }
            @if $col !=false {
                width: 100%/$col;
            }
        }
        @if $col !=false {
            &__item:nth-child(#{$col}n+1) {
                clear: left;
            }
        }
    }
}
@mixin col-md ($col: false, $gatter: false, $start: false) {
    @media (min-width: #{$md-width}) {
        @if $gatter !=false {
            margin-right: -#{$gatter}px;
            margin-left: -#{$gatter}px;
        }
        &__item {
            @if $start !=false {
                float: left;
                min-height: 1px;
            }
            @if $gatter !=false {
                padding-right: #{$gatter}px;
                padding-left: #{$gatter}px;
            }
            @if $col !=false {
                width: 100%/$col;
            }
        }
        @if $col !=false {
            &__item:nth-child(#{$col}n+1) {
                clear: left;
            }
        }
    }
}
@mixin col-lg ($col: false, $gatter: false, $start: false) {
    @media (min-width: #{$lg-width}) {
        @if $gatter !=false {
            margin-right: -#{$gatter}px;
            margin-left: -#{$gatter}px;
        }
        &__item {
            @if $start !=false {
                float: left;
                min-height: 1px;
            }
            @if $gatter !=false {
                padding-right: #{$gatter}px;
                padding-left: #{$gatter}px;
            }
            @if $col !=false {
                width: 100%/$col;
            }
        }
        @if $col !=false {
            &__item:nth-child(#{$col}n+1) {
                clear: left;
            }
        }
    }
}
@mixin col-sm-md ($col: false, $gatter: false, $start: false) {
    @media (min-width: #{$sm-width}) and (max-width: #{$md-width - 1px}) {
        @if $gatter !=false {
            margin-right: -#{$gatter}px;
            margin-left: -#{$gatter}px;
        }
        &__item {
            @if $start !=false {
                float: left;
                min-height: 1px;
            }
            @if $gatter !=false {
                padding-right: #{$gatter}px;
                padding-left: #{$gatter}px;
            }
            @if $col !=false {
                width: 100%/$col;
            }
        }
        @if $col !=false {
            &__item:nth-child(#{$col}n+1) {
                clear: left;
            }
        }
    }
}
@mixin col-sm-lg ($col: false, $gatter: false, $start: false) {
    @media (min-width: #{$sm-width}) and (max-width: #{$lg-width - 1px}) {
        @if $gatter !=false {
            margin-right: -#{$gatter}px;
            margin-left: -#{$gatter}px;
        }
        &__item {
            @if $start !=false {
                float: left;
                min-height: 1px;
            }
            @if $gatter !=false {
                padding-right: #{$gatter}px;
                padding-left: #{$gatter}px;
            }
            @if $col !=false {
                width: 100%/$col;
            }
        }
        @if $col !=false {
            &__item:nth-child(#{$col}n+1) {
                clear: left;
            }
        }
    }
}
@mixin col-md-lg ($col: false, $gatter: false, $start: false) {
    @media (min-width: #{$md-width}) and (max-width: #{$lg-width - 1px}) {
        @if $gatter !=false {
            margin-right: -#{$gatter}px;
            margin-left: -#{$gatter}px;
        }
        &__item {
            @if $start !=false {
                float: left;
                min-height: 1px;
            }
            @if $gatter !=false {
                padding-right: #{$gatter}px;
                padding-left: #{$gatter}px;
            }
            @if $col !=false {
                width: 100%/$col;
            }
        }
        @if $col !=false {
            &__item:nth-child(#{$col}n+1) {
                clear: left;
            }
        }
    }
}
