
/* link */

a {
  color: $link-color;
  text-decoration: $link-decor;
}
a:active,
a:focus,
a:hover {
  text-decoration: $link-decor-active;
  color: $link-color-active;
}
a:visited {
  text-decoration: $link-decor-active;
  color: $link-color-visited;
}

